@model List<Room>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Rooms</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Room No</td>
            <td>Room Type</td>
            <td>Adult</td>
            <td>Child</td>
            <td>Price</td>
        </tr>
    </thead>
   <tbody>
       @foreach(var items in Model)
       {
       <tr>
           <td>@items.id</td>
           <td>@items.no</td>
           <td>@items.type</td>
           <td>@items.adult</td>
           <td>@items.child</td>
           <td>@items.price</td>

       </tr>

       }
   </tbody>
    
</table>